*,
*::after *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: sans-serif;
}
header {
  background-color: rgb(212, 206, 206);
  display: flex;
}
.circles {
  background-color: aquamarine;
  height: 10rem;
  width: 10rem;
}
.red,
.orange,
.yellow {
  width: 2.2 rem;
  height: 2.2 rem;
  margin-right: 1.2rem;
  border-radius: 70%;
  display: inline-block;
}

.red {
  background-color: red;
}
.orange {
  background-color: orangered;
}
.yellow {
  background-color: yellow;
}
